<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Welcome to Ridelr</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/theme.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script th:src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/resources/assets/js/ie10-viewport-bug-workaround.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script th:src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/resources/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/resources/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/resources/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/resources/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/resources/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/resources/apple-touch-icon-76x76.png}"/>
    <link rel="icon" type="image/png" th:href="@{/resources/favicon-96x96.png}" sizes="96x96"/>
    <link rel="icon" type="image/png" th:href="@{/resources/favicon-16x16.png}" sizes="16x16"/>
    <link rel="icon" type="image/png" th:href="@{/resources/favicon-32x32.png}" sizes="32x32"/>
    <meta name="msapplication-TileColor" content="#da532c"/>

    <link rel="stylesheet" href="http://openlayers.org/en/v3.12.1/css/ol.css" type="text/css"/>
    <style>
        .map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script src="http://openlayers.org/en/v3.12.1/build/ol.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
</body>
</html>