<!DOCTYPE html>
<html layout:decorator="nomenulayout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div layout:fragment="content" class="jumbotron">
    <div id="container">


        <h2>404 Not Found</h2>
        <div class="error-details">
            Sorry, an error has occured, requested page not found!
        </div>
        <br/>
        <span class="glyphicon glyphicon-home"></span>  <a th:href="@{/}"> Home</a>


    </div>
</div>
</body>
</html>
